<!--<div class="sc-post">-->
<!--  <div class="sc-post__user">-->
<!--    <sc-profile-image [profileImg]="post.user.profileImg" [classes]="'sc-post__user-image red'"></sc-profile-image>-->

<!--    {{ post.user.username }} @ {{ post.datetime | date: 'short' }}-->
<!--  </div>-->

<!--  <h4 class="font-weight-bold">{{ post.description }}</h4>-->
<!--  <div class="sc-post__videoPlayer embed-responsive embed-responsive-16by9"-->
<!--       (click)="playVideo(post.id)">-->
<!--    <video [id]="'postVideo-' + post.id"-->
<!--           class="embed-responsive-item"-->
<!--           [src]="this.mediaPath + post.videoUrl"-->
<!--           #video>-->
<!--    </video>-->
<!--    <div [hidden]="isPlaying" class="sc-post__videoPlayIcon">-->
<!--      <i class="fa fa-play"></i>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="text-center mt-3" *ngIf="showDelete">-->
<!--    <button class="btn btn-warning" (click)="deletePost(post.id)" [disabled]="postDeleteInProgress">-->
<!--      Delete <span [hidden]="!postDeleteInProgress" class="fa fa-spinner fa-spin"></span>-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->
