.sc-post {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid lightgray;

  &__user {
    margin-bottom: 15px;
  }

  &__videoPlayer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__videoPlayIcon {
    justify-content: center;
    z-index: 10;
    color: white;

    .fa.fa-play {
      font-size: 35px;
    }
  }

  ::ng-deep {
    .sc-post__user-image {
      width: 30px;
      height: 30px;
    }
  }
}
